body {
    background-image: url("../images/trivia-game-background.png");
    min-height: 100%;
}

.container {
    padding-top: 75px;
}

h1 {
    color: midnightblue;
    font-family: 'Orbitron';
    font-size: 48px;
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 4px;
}


h2, h3 {
    color: midnightblue;
    font-family: 'Roboto';
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

h4 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 0;
}

.btnstart {
    margin-top: 5vw;
    margin-left: 30vw;
    width: 190px;
}

.btndone {
    margin-top: 5vw;
    width: 190px;
}

.innerbox {
  background-color: antiquewhite;
  padding: 10px;
}

.questions {
    text-align: center;
}

.timecount {
    margin-top: 20px;
    text-align: center;
}

